body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: rgb(211, 80, 80);
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
margin: 100px 100px;
    background-color:rgb(3, 26, 46) ;
    align-items: center;
    padding: 50px 50px;
    padding-left: 450px;
    
}


.cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    cursor: pointer;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;

}

.cell:hover {
    background-color: #eee;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(15, 243, 15);
    background: rgb(21, 138, 41);
    border-radius: 3mm;
}
